<h1>Listing Info</h1>
<p>{{description}}</p>
<p>{{image}}</p>
<p>{{location}}</p>
<a href="/posting">Click here to make a another post</a>
<a href="/">Click here to view the home page</a>

<div id="gmap" style="height:400px; width:100%;"></div>

<script
  src="/public/js/maps.js"
  latitude={{this.latitude}}
  longitude={{this.longitude}}
></script>