<h1>User Info</h1>
<p>{{user.username}}</p>
<p>{{userActivity.email}}</p>
<h2>Posts Made By the User:</h2>
    {{#if userPost}}

        {{#each userPost}}
            <h2 id="{{title}}">{{title}}</h2>
                <div>
                    <p>{{description}}</p>
                    <p>{{location}}</p>
                </div>
        {{/each}}

    {{/if}}

    {{#if userActivity}}
    <h2>Posts the User Has Taken</h2>
        {{#each userActivity}}
            <h2 id="{{title}}">{{title}}</h2>
                <div>
                    <p>{{description}}</p>
                    <p>{{location}}</p>
                </div>
        {{/each}}

    {{/if}}
<a href="/login">Back to Home Page</a>
<a href="/logout">Logout</a>
<a href="/posting">Click here to make a post</a>